.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
  }
  
  .app__body {
    display: flex;
    background-color: #ededed;
    margin: 1in;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    height: calc(100% - 1in);
    width: calc(100% - 1in);
  }
  
  @media (max-width: 768px) {
    .app__body {
      flex-direction: column;
      height: auto;
      width: auto;
    }
  }
  